.random-icon{
    background: url('../icon/random_icon.png')  no-repeat;
    width:16px;
    height:16px;
}
.order-icon{
    background: url('../icon/order_icon.png')  no-repeat;
    width:16px;
    height:16px;
}
.last-icon{
    background: url('../icon/last_icon.png')  no-repeat;
    width:32px;
    height:32px;
}
.next-icon{
    background: url('../icon/next_icon.png')  no-repeat;
    width:32px;
    height:32px;
}
.play-icon{
    background: url('../icon/play_icon.png')  no-repeat;
    width:48px;
    height:48px;
}
.stop-icon{
    background: url('../icon/stop_icon.png')  no-repeat;
    width:48px;
    height:48px;
}
.like-icon{
    background: url('../icon/like_icon.png')  no-repeat;
    width:16px;
    height:16px;
}
.nolike-icon{
    background: url('../icon/nolike_icon.png')  no-repeat;
    width:16px;
    height:16px;
}
.playList-icon{
    background: url('../icon/playList_icon.png')  no-repeat;
    width:32px;
    height:32px;
}
.play-mini{
    background: url('../icon/play_mini.png')  no-repeat;
    width:32px;
    height:32px;
}
.stop-mini{
    background: url('../icon/stop_mini.png')  no-repeat;
    width:32px;
    height:32px;
}
.slide-down{
    background: url('../icon/slide_down.png')  no-repeat;
    width:16px;
    height:16px;
}
.go-icon{
    background: url('../icon/go_icon.png')  no-repeat;
    width:16px;
    height:16px;
}
.return-icon{
    background: url('../icon/return_icon.png')  no-repeat;
    width:16px;
    height:16px;
}
.delete-icon{
    background: url('../icon/delete_icon.png')  no-repeat;
    width:16px;
    height:16px;
}
.garbage-icon{
    background: url('../icon/garbage_icon.png')  no-repeat;
    width:16px;
    height:16px;
}